.rodape {
    background-color: var(--branco);
    font-size: 0.75em;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100vw;
}

.lista-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 0;
}

.lista-rodape-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.rodape__botao {
    margin-bottom: 1em;
}

.rodape__link {
    text-decoration: none;
    color: var(--cinza-claro);
}

.link__menu {
    margin-top: 0.3em;
}

.pagina {
    margin-bottom: 5em;
}

@media screen and (min-width: 1366px) {
    .rodape {
        display: none;
    }
}