@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('cabecalho.css');
@import url('container.css');
@import url('card.css');
@import url('cadastro.css');
@import url('rodape.css');

:root {
    --cor-de-fundo: #ECECEC;
    --fonte-principal: "Montserrat";
    --cinza: #464646;
    --cinza-claro: #A3A3A3;
    --branco: #ffffff;
    --cor-botao: #FFB050;
    --botao-azul: #4894FF;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}
